<app-navbar></app-navbar>
<div class="layout-sidebar">
<app-menuadmin></app-menuadmin>
</div>

<div class="panel-component">
    <div class="panel">
        <p-toolbar styleClass="mb-4 gap-2">
            <ng-template pTemplate="left">
                <p-button label="" icon="pi pi-plus" styleClass="p-button-secondary" pTooltip="Agregar nuevo registro"></p-button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <p-button label="" icon="pi pi-trash" styleClass="p-button-secondary" pTooltip="Eliminar registro"></p-button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <p-button label="" icon="pi pi-file-edit" styleClass="p-button-secondary" pTooltip="Actualizar registro"></p-button>
            </ng-template>
        </p-toolbar>
        <p-table #dt [value]="usuarios" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['nombre','emai','rol']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedUsuarios" selectionMode="multiple" [rowHover]="true" dataKey="id">
        
            <ng-template pTemplate="caption">
                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    <h5 class="m-0">Usuarios</h5>
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                    </span>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                    <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                    <th pSortableColumn="rol">Rol <p-sortIcon field="rol"></p-sortIcon></th>
                    <th pSortableColumn="uid">Id </th>
                    <th pSortableColumn="estado">Estado <p-sortIcon field="estado"></p-sortIcon></th>
                    
                    <th></th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-usuario>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="usuario.nombre"></p-tableCheckbox>
                    </td>
                    <td style="width:14%; min-width:10rem;"><span class="p-column-title">Nombre</span>
                       {{ usuario.nombre }}
                    </td>
                    
                </tr>
            </ng-template>
        
        </p-table>
    </div>
  </div>
  