<app-navbar></app-navbar>


    <div class="panel">
        <p-toolbar styleClass="mb-2 gap-2" [style]="{ 'background-color': '#8198AB' }">
            <ng-template pTemplate="left">
                <p-avatar label="USUARIOS"   size="large" [style]="{ 'background-color': '#acbbcc', color: '#ffffff' , width: '100px' }"></p-avatar>
                &nbsp;&nbsp;
                <p-button label="" icon="pi pi-plus" [style]="{ 'background-color': '#2781AB' }" pTooltip="Agregar nuevo registro" (click)="openNew()"></p-button>
                &nbsp;&nbsp;
                <p-button label="" icon="pi pi-trash" styleClass="p-button-danger" pTooltip="Eliminar registro" (click)="deleteSelectedUsuarios()" [disabled]="!selectedUsuarios || !selectedUsuarios.length"></p-button>
                
                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    &nbsp;&nbsp;&nbsp;
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                    </span>
                </div>
                          
                           
            </ng-template>
        </p-toolbar>
        <p-table #dt [value]="usuarios" [columns]="cols" responsiveLayout="scroll" [rows]="5" [globalFilterFields]="['nombre','emai']" [paginator]="true" [rowsPerPageOptions]="[5,10,15]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedUsuarios" selectionMode="multiple" [rowHover]="true" dataKey="uid">
        
    
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="uid">Id </th>
                    <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                    <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                    <th pSortableColumn="rol">Rol <p-sortIcon field="rol"></p-sortIcon></th>
                    <th pSortableColumn="estado">Estado <p-sortIcon field="estado"></p-sortIcon></th>
                    
                    <th></th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-usuario>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="usuario"></p-tableCheckbox>
                    </td>
                    <td style="width:14%; min-width:8rem;"><span class="p-column-title">Id</span>
                       {{ usuario.uid }}
                    </td>

                    <td style="width:14%; min-width:10rem;">
                        <span class="p-column-title">nombre</span>
                        {{usuario.nombre}}
                    </td>

                    <td style="width:14%; min-width:10rem;">
                        <span class="p-column-title">Email</span>
                        {{usuario.email}}
                    </td>

                    <td style="width:14%; min-width:8rem;">
                        <span class="p-column-title">Rol</span>
                        {{usuario.rol}}
                    </td>

                    <td style="width:14%; min-width:5rem;">
                        <span class="p-column-title">Estado</span>
                        {{usuario.estado}}
                    </td>
                    <td>
                        <div class="flex">
                            <button pButton pRipple icon="pi pi-pencil" [style]="{ 'background-color': '#50585F', width:'30px', height:'30px' }" (click)="editUsuario(usuario)"  pTooltip="Editar registro"></button>

                        </div>
                    </td>
                </tr>
            </ng-template>
        
        </p-table>
    </div>

    <p-dialog [(visible)]="usuarioDialog" [style]="{width: '410px'}" header="" [modal]="true" class="p-fluid">
      
       
        <p-avatar label="REGISTRO USUARIOS"   size="large" [style]="{ 'background-color': '#2781AB', color: '#ffffff' , width: '370px' }"></p-avatar>
        
        <ng-template pTemplate="content">
            
            <div class="field">
                <label for="uid">Identificación</label>
                <p-inputNumber id="uid" [(ngModel)]="Usuario['uid']"></p-inputNumber>
                 <small class="ng-dirty ng-invalid" *ngIf="submitted && !Usuario['uid']">Identificación requerida</small>
             
            </div>
            <div class="field">
                <label for="name">Name</label>
                <input input pInputText id="nombre" [(ngModel)]="Usuario['nombre']" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !Usuario['nombre']}"/>
                 <small class="ng-dirty ng-invalid" *ngIf="submitted && !Usuario['nombre']">Nombre requerido</small>
             
            </div>
            <div class="field">
                <label for="email">Email</label>
                <input input pInputText id="email" type="email" [(ngModel)]="Usuario['email']" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !Usuario['email']}"/>
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !Usuario['email']">Email requerido</small>
                
            </div>

            <div class="field">
                <label class="mb-1">Rol</label>
                <div class="formgrid grid">
                    <div class="field-radiobutton col-8">
                        <p-radioButton id="rol1" name="rol" value="USER_ROL" [(ngModel)]="Usuario['rol']" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !Usuario['rol']}"></p-radioButton>
                        <label for="category1">Básico</label>
                        &nbsp;
                        <p-radioButton id="rol2" name="rol" value="ADMIN_ROL" [(ngModel)]="Usuario['rol']" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !Usuario['rol']}"></p-radioButton>
                        <label for="category2">Admin</label>
                        &nbsp;
                        <p-radioButton id="rol3" name="category" value="CONTA_ROL" [(ngModel)]="Usuario['rol']" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !Usuario['rol']}"></p-radioButton>
                        <label for="category3">Contable</label>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !Usuario['rol']">Seleccione un rol</small>
                    </div>
                                     
                
                </div>
            </div>
            
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveUsuario()"></button>
        </ng-template>
    </p-dialog>