<app-navbar></app-navbar>


    <div class="panel">
        <p-toolbar styleClass="mb-2 gap-2" [style]="{ 'background-color': '#8198AB' }">
            <ng-template pTemplate="left">
                <label class="terciario"> USUARIOS </label>
                &nbsp;&nbsp;
                <p-button label="" icon="pi pi-plus" [style]="{ 'background-color': '#2781AB' }" pTooltip="Agregar nuevo registro" (click)="openNew()"></p-button>
  
                
                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    &nbsp;&nbsp;&nbsp;
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                    </span>
                    
                </div>
                          
                           
            </ng-template>
        </p-toolbar>
       

        <div class="card">
            <p-table scrollDirection="both" [scrollable]="true" scrollHeight="365px" #dt [value]="usuarios" [columns]="cols" responsiveLayout="scroll" [globalFilterFields]="['nombre','ministerio']" dataKey="numero_id" rowGroupMode="subheader" groupRowsBy="nombre"  [rowHover]="true" [tableStyle]="{'min-width': '70rem'}">
                
                <ng-template pTemplate="header">
                    <tr>                                                                     
                      
                        <th style="width:30%; background-color:#6f7f8e; color:#f0f4f7" colspan="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nombre </th>
                        <th style="width:15%; background-color:#6f7f8e; color:#f0f4f7" >Id </th>
                        <th style="width:30%; background-color:#6f7f8e; color:#f0f4f7">Email </th>
                        <th style="width:15%; background-color:#6f7f8e; color:#f0f4f7">Rol </th>
                        <th style="width:15%; background-color:#6f7f8e; color:#f0f4f7">Estado </th>
                        <th style="width:15%; background-color:#6f7f8e; color:#f0f4f7"></th>
                     
                        
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-usuario>
                   
                    <tr>

                        <td colspan="3" style="background-color:#ffffff">
                           
                            <p-image [src]="usuario.imagen " alt="Image" width="70" [preview]="true">
                                <ng-template pTemplate="indicator">
                                    
                                </ng-template>
                            </p-image>
                            <label class="cardnombre"> {{usuario.nombre}}</label>
                            
                        </td>
                       
                        <td style="width:15%; background-color:#ffffff">
                           {{ usuario.uid }}
                        </td>
    
                            
                        <td style="width:30%; background-color:#ffffff">
                            
                            {{usuario.email}}
                        </td>
    
                        <td style="width:15%; background-color:#ffffff">
                          
                            {{usuario.rol}}
                        </td>
    
                        <td style="width:15%; background-color:#ffffff">
                            
                            {{usuario.estado}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" [style]="{ 'background-color': '#50585F', width:'30px', height:'30px' }" (click)="editUsuario(usuario)"  pTooltip="Editar registro"></button>
                                &nbsp;
                                <p-button label="" icon="pi pi-trash" [style]="{ 'background-color': '#BE6553', width:'30px', height:'30px' }"  (click)="deleteUsuario(usuario)" pTooltip="Eliminar registro"></p-button>
                                &nbsp;
                                <p-button label="" icon="pi pi-image" [style]="{ 'background-color': '#4979aa', width:'30px', height:'30px' }"  (click)="openNewimage(usuario)" pTooltip="Imágen"></p-button>
                            </div>
                        </td>
                    </tr>
              
                </ng-template>

             
            </p-table>
        </div>



    </div>

    <p-dialog [(visible)]="usuarioDialog" [style]="{width: '410px'}" header="" [modal]="true" class="p-fluid">
      
       
        <label class="acciones"> {{ accion }} </label>
       
        <ng-template pTemplate="content">
            
            <div class="field">
                <label for="uid">Identificación</label>
                <input input pInputText id="uid" [(ngModel)]="Usuario['uid']" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !Usuario['uid']}"/>
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !Usuario['uid']">Identificación requerida</small>
             
            </div>
            <div class="field">
                <label for="name">Name</label>
                <input input pInputText id="nombre" [(ngModel)]="Usuario['nombre']" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !Usuario['nombre']}"/>
                 <small class="ng-dirty ng-invalid" *ngIf="submitted && !Usuario['nombre']">Nombre requerido</small>
             
            </div>
            <div class="field">
                <label for="email">Email</label>
                <input input pInputText id="email" type="email" [(ngModel)]="Usuario['email']" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !Usuario['email']}"/>
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !Usuario['email']">Email requerido</small>
                
            </div>

            <div class="field">
                <label class="mb-1">Rol</label>
                <div class="formgrid grid">
                    <div class="field-radiobutton col-8">
                        <p-radioButton id="rol1" name="rol" value="USER_ROLE" [(ngModel)]="Usuario['rol']" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !Usuario['rol']}"></p-radioButton>
                        <label for="category1">Básico</label>
                        &nbsp;
                        <p-radioButton id="rol2" name="rol" value="ADMIN_ROLE" [(ngModel)]="Usuario['rol']" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !Usuario['rol']}"></p-radioButton>
                        <label for="category2">Admin</label>
                        &nbsp;
                        <p-radioButton id="rol3" name="category" value="CONTA_ROLE" [(ngModel)]="Usuario['rol']" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !Usuario['rol']}"></p-radioButton>
                        <label for="category3">Contable</label>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !Usuario['rol']">Seleccione un rol</small>
                    </div>
                                     
                
                </div>
            </div>
            
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveUsuario()"></button>
        </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="imageDialog" [style]="{width: '410px'}" header="" [modal]="true" class="p-fluid">
       
        <label class="acciones"> CARGAR IMAGEN </label>
        <div class="grid">
            <div class="col-12">
                <div class="card"> 
                    <label class="imagen"> {{ Usuario['nombre'] }}  </label>
                    <p-fileUpload name="miembro"
                        url="https://www.primefaces.org/cdn/api/upload.php"
                          (onUpload)="onUpload($event)"
                           accept="image/*"
                           [maxFileSize]="99999999999">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                   
                </div>
            </div>
        </div>
    </p-dialog>

   