<app-navbar></app-navbar>

<div [style]="{'margin-top': '90px'}">
   <br>
<div class="limiter animated fadeInLeft">
    <div class="container-login100" >    
        <div class="wrap-login100 p-t-0 p-b-50" [style]="{'background-color': '#052A3D'}">
            <form (ngSubmit)="login( f  )"
            #f="ngForm"                       
            class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title p-b-51">
                    <label class="terciariologin"> INGRESO ADMINISTRATIVO </label> 
                </span>
               
               
                    <div class="field col-12 md:col-6">
                        <span class="p-float-label">

                           
                            <input input pInputText id="email" name="email" type="text" class="w-full md:w-26rem mb-5" style="padding:1rem"
                                [(ngModel)]="usuario['email']" required autofocus
                                [ngClass]="{'ng-invalid ng-dirty' : f.submitted && !usuario['email']}" />
                            <small class="ng-dirty ng-invalid" *ngIf="f.submitted && !usuario['email']">Email
                                requerido</small>
                            <label htmlFor="email" class="labelform" >Email</label>
                        </span>
                      

                    </div>

                    <div class="field col-12 md:col-8">
                        <span class="p-float-label">

                           
                            <input input pInputText id="password" name="password" type="password" class="w-full md:w-26rem mb-5" style="padding:1rem"
                                [(ngModel)]="usuario['password']" required autofocus
                                [ngClass]="{'ng-invalid ng-dirty' : f.submitted && !usuario['password']}" />
                            <small class="ng-dirty ng-invalid" *ngIf="f.submitted && !usuario['password']">Contraseña
                                requerida</small>
                            <label htmlFor="password" class="labelform" >Contraseña</label>
                        </span>

                    </div>
               
          
                <div class="container-login100-form-btn m-t-7">
                    <button  class="botton" type="submit">
                        Ingresar
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
</div>