/* app.component.css */
.card {
    
    perspective: 1000px;
    background:#e6e9ec;
    border: 1px solid ;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow:#305a85;
    border-radius: 8px;
    width: 300px;
    height: 370px;
    
   
  }
  
  .custom-card-content {
    width: 200px;
    height: 180px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    
  }
  
  .front-content,
  .back-content {
   
    width: 50px;
    height: 400px;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-left: -5rem;
    backface-visibility: hidden;
   
  }
  
  .front-content {
    width: 300px;
    height: 400px;
    transform: rotateY(0deg); /* Muestra la cara frontal */
    padding: 1rem;
    margin-bottom: 1rem;
    margin-left: -2rem;
    position: absolute;
    
  }
  
  .back-content {
    transform: rotateY(180deg); /* Inicialmente oculta la cara trasera */
    padding: 1rem;
    
    position: absolute;
    width: 300px;
    height: 400px;
  }
  
  .flipped .custom-card-content {
    transform: rotateY(180deg);
  }
  