<app-navbar></app-navbar>



    <p-toolbar >

        <ng-template  pTemplate="left" >
            <label class="terciario"> MEMBRESIA </label>
            &nbsp;&nbsp;
            <p-button label="" icon="pi pi-plus" [style]="{ 'background-color': '#677F8C' }"
                pTooltip="Agregar nuevo registro" (click)="openNew()"></p-button>


            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                &nbsp;&nbsp;&nbsp;
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input #termino type="text" (keyup)="filtrar(termino.value)" pInputText type="text"
                        placeholder="Buscar..." class="w-full sm:w-auto" />

                </span>

            </div>

        </ng-template>
    </p-toolbar>


    <div class="gridcf">

        <div class="col-12 lg:col-8 xl:col-3"  *ngFor="let miembros of miembros; let i = index">

            <p-card   [ngClass]="{'flipped': cardStates[i]}">


                <ng-template pTemplate="header">

                    <p-image [src]="miembros.imagen" alt="Image" [style]="{ width: '90px', height: '90px'  }"
                        [preview]="true">
                    </p-image>
                    <label class="terciarionombre">{{ miembros.nombre }} </label>
                          
             
                    <tr>

                        <td>
                            <div class="dropdown">
                                <button class="btn btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false"
                                >
                                    <i class="pi pi-bars"></i>
                                </button>
                                <ul class="dropdown-menu">
                                  <li><button class="dropdown-item" type="button" (click)="toggleSegmento(i, $event)">Ver información</button></li>
                                  <li><button class="dropdown-item" type="button" (click)="editMiembro(miembros)">Editar</button></li>
                                  <li><button class="dropdown-item" type="button" (click)="deleteMiembro(miembros)">Eliminar</button></li>
                                  <li><button class="dropdown-item" type="button" (click)="openNewimage(miembros)">Imágen</button></li>
                                  <li><button class="dropdown-item" type="button" (click)="toggleCard(i)">Información {{ informacionvar[i] || 'ministerial' }}</button></li>
                                </ul>
                              </div>
                        </td>
                
                        <td *ngIf="compararFechaNacimiento(miembros.fecha_nacimiento).indicador === 1" >
                            &nbsp;&nbsp;&nbsp;
                            <i class="pi pi-gift mr-4 p-text-secondary"
                             pBadge style="font-size: 2rem"
                             pTooltip="Cumpleaños este mes"
                              [value]="compararFechaNacimiento(miembros.fecha_nacimiento).dia.toString()" ></i>
                            
    
                          </td>
    
                          <td *ngIf="compararFechaNacimiento(miembros.fecha_nacimiento).indicador === 2" >
                            &nbsp;&nbsp;&nbsp;
                            <i class="pi pi-gift mr-4 p-text-secondary"
                             pBadge style="font-size: 2rem"
                             pTooltip="Cumpleaños hoy"
                              [value]="compararFechaNacimiento(miembros.fecha_nacimiento).dia.toString()"
                               severity="danger"></i>
                            
    
                          </td> 
                    </tr>
                      
                      

   

                </ng-template>

                <div class="custom-card-content" *ngIf="segmentoVisible[i]">


                    <div class="front-content">                                                                  
                        
                       
                    <label class="terciariotitulo">INFORMACIÓN PERSONAL </label>
                       <p></p>
                                           
                       <tr>
                        <td class="tdtitulo"><p-avatar icon="pi pi-tag"  styleClass="mr-2"
                                [style]="{'background-color': '#717b89', 'color': '#F9FCFD'}"></p-avatar>Identificación &nbsp;&nbsp;</td>
                        <td class="labelform">  &nbsp;{{ miembros.tipo_id }} </td>
                        
                        <td class="labelform"> &nbsp;&nbsp;{{ miembros.numero_id }} </td>
                    </tr>

                    <p></p>

                    <tr>
                            <td class="tdtitulo"><p-avatar icon="pi pi-phone"  styleClass="mr-2"
                                    [style]="{'background-color': '#717b89', 'color': '#F9FCFD'}"></p-avatar>Celular &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td class="labelform">  &nbsp;{{ miembros.celular }} </td>
                            
                            <td class="labelform"> &nbsp;&nbsp;{{ miembros.telefono }} </td>
                        </tr>

                        <p></p>
                        <tr>
                            <td class="tdtitulo"><p-avatar icon="pi pi-map-marker"  styleClass="mr-2"
                                    [style]="{'background-color': '#717b89', 'color': '#ffffff'}"></p-avatar>Dirección &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td class="labelform"> &nbsp;{{ miembros.direccion }} </td>
                        </tr>

                        <p></p>

                        <tr>
                            <td class="tdtitulo"><p-avatar icon="pi pi-envelope"  styleClass="mr-2"
                                    [style]="{'background-color': '#717b89', 'color': '#ffffff'}"></p-avatar>Correo &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td class="labelform"> &nbsp;{{ miembros.email }} </td>
                        </tr>

                        <p></p>
                        
                        <tr>
                            <td class="tdtitulo"><p-avatar icon="pi pi-home"  styleClass="mr-2"
                                    [style]="{'background-color': '#717b89', 'color': '#ffffff'}"></p-avatar>Barrio &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td class="labelform"> &nbsp;{{ miembros.barrio }} </td>
                        </tr>

                        <p></p>
                        <tr>
                            <td class="tdtitulo"><p-avatar icon="pi pi-calendar"  styleClass="mr-2"
                                    [style]="{'background-color': '#717b89', 'color': '#ffffff'}"></p-avatar>Nacimiento &nbsp;&nbsp;&nbsp;</td>
                            <td class="labelform"> &nbsp;{{ miembros.fecha_nacimiento }} </td>
                           
                        </tr>

                        <p></p>
                        <tr>
                            <td class="tdtitulo"><p-avatar icon="pi pi-heart-fill"  styleClass="mr-2"
                                    [style]="{'background-color': '#717b89', 'color': '#ffffff'}"></p-avatar>Estado civil &nbsp;&nbsp;</td>
                            <td class="labelform"> &nbsp; {{ miembros.estado_civil }} </td>
                        </tr>

                        <p></p>
                        <tr>
                            <td class="tdtitulo"><p-avatar icon="pi pi-info-circle"  styleClass="mr-2"
                                    [style]="{'background-color': '#717b89', 'color': '#ffffff'}"></p-avatar>Género &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td class="labelform"> &nbsp; {{ miembros.sexo }} </td>
                        </tr>

                        <p></p>
                        <tr>
                            <td class="tdtitulo"><p-avatar icon="pi pi-wrench"  styleClass="mr-2"
                                    [style]="{'background-color': '#717b89', 'color': '#ffffff'}"></p-avatar>Ocupación &nbsp;&nbsp;&nbsp;</td>
                            <td class="labelform"> &nbsp; {{ miembros.ocupacion }} </td>
                        </tr>

                       


                    </div>


                    <div class="back-content">

                        <tr>
                           
    
                            <td *ngIf="compararFechaNacimiento(miembros.fecha_nacimiento).indicador === 1" >
                                &nbsp;&nbsp;&nbsp;
                                <i class="pi pi-gift mr-4 p-text-secondary"
                                 pBadge style="font-size: 2rem"
                                 pTooltip="Cumpleaños este mes"
                                  [value]="compararFechaNacimiento(miembros.fecha_nacimiento).dia.toString()" ></i>
                                
    
                              </td>
    
                              <td *ngIf="compararFechaNacimiento(miembros.fecha_nacimiento).indicador === 2" >
                                &nbsp;&nbsp;&nbsp;
                                <i class="pi pi-gift mr-4 p-text-secondary"
                                 pBadge style="font-size: 2rem"
                                 pTooltip="Cumpleaños hoy"
                                  [value]="compararFechaNacimiento(miembros.fecha_nacimiento).dia.toString()"
                                   severity="danger"></i>
                                
    
                              </td>
                        </tr>    
                     
                        
                        <label class="terciariotitulo">INFORMACIÓN MINISTERIAL </label>
                        <p></p>
                       
                        <tr>
                            <td class="tdtitulo"><p-avatar icon="pi pi-user"  styleClass="mr-2"
                                    [style]="{'background-color': '#717b89', 'color': '#ffffff'}"></p-avatar>Tipo miembro &nbsp;&nbsp;&nbsp;</td>
                            <td class="labelform"> &nbsp; {{ miembros.tipo_miembro }} </td>
                            <td *ngIf="miembros.tipo_miembro == 'LIDER' ">  </td>
                        </tr>

                        <p></p>
                        <tr>
                            <td class="tdtitulo"><p-avatar icon="pi pi-microphone"  styleClass="mr-2"
                                    [style]="{'background-color': '#717b89', 'color': '#ffffff'}"></p-avatar>Ministerio &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td class="labelform"> &nbsp; {{ miembros.ministerio }} </td>

                        </tr>

                        <p></p>
                        <tr>
                            <td class="tdtitulo"><p-avatar icon="pi pi-id-card"  styleClass="mr-2"
                                    [style]="{'background-color': '#717b89', 'color': '#ffffff'}"></p-avatar>Bautizado &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td class="labelform"> &nbsp; {{ miembros.bautizado }} </td>

                        </tr>
                        <p></p>

                        <tr>
                            <td class="tdtitulo"><p-avatar icon="pi pi-users"  styleClass="mr-2"
                                    [style]="{'background-color': '#717b89', 'color': '#ffffff'}"></p-avatar>Población &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td class="labelform"> &nbsp; {{ miembros.poblacion }} </td>
                        </tr>

                        <p></p>
                        <tr>
                            <td class="tdtitulo"><p-avatar icon="pi pi-sitemap"  styleClass="mr-2"
                                    [style]="{'background-color': '#717b89', 'color': '#ffffff'}"></p-avatar>Grupo celular &nbsp;&nbsp;&nbsp;</td>
                            <td class="labelform"> &nbsp; {{ miembros.grupo_celular }} </td>
                        </tr>

                        <p></p>
                        <tr>
                            <td class="tdtitulo"><p-avatar icon="pi pi-question-circle"  styleClass="mr-2"
                                    [style]="{'background-color': '#717b89', 'color': '#ffffff'}"></p-avatar>Lider asignado &nbsp;</td>
                            <td class="labelform"> &nbsp; {{ miembros.lider_contacto }} </td>
                        </tr>

                        <p></p>
                        <tr>
                            <td class="tdtitulo"><p-avatar icon="pi pi-check-circle"  styleClass="mr-2"
                                    [style]="{'background-color': '#717b89', 'color': '#ffffff'}"></p-avatar>Estado &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td class="labelform"> &nbsp; {{ miembros.estado }} </td>
                        </tr>
                       

                    </div>
                </div>
            </p-card>
        </div>


    </div>






<p-dialog 
[(visible)]="miembroDialog"
[header]="accion" 
>   
    <div class="col-12">

        <div class="cardform">

           
            <div class="p-fluid p-formgrid grid">

                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <p-dropdown inputId="tipo_id" [autoDisplayFirst]="false" [options]="tipo_id"
                            [(ngModel)]="Miembro['tipo_id']" [appendTo]="'body'"></p-dropdown>
                        <label for="tipo_id" class="labelformcre">Tipo de documento</label>
                    </span>
                </div>


                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <input input pInputText id="numero_id" type="text" class="input-con-fondo"
                            [(ngModel)]="Miembro['numero_id']" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !Miembro['numero_id']}" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !Miembro['numero_id']">Identifiación
                            requerida</small>
                        <label htmlFor="numero_id" class="labelformcre" >Identificación</label>
                    </span>
                </div>

                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <input input pInputText id="nombre" type="text" class="input-con-fondo"
                            [(ngModel)]="Miembro['nombre']" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !Miembro['nombre']}" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !Miembro['nombre']">Nombre
                            requerido</small>
                        <label htmlFor="nombre" class="labelformcre">Nombre</label>
                    </span>
                </div>

                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <input input pInputText id="telefono" type="text" class="input-con-fondo"
                            [(ngModel)]="Miembro['telefono']" />

                        <label htmlFor="telefono" class="labelformcre">Teléfono</label>
                    </span>
                </div>

                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <input input pInputText id="celular" type="text" class="input-con-fondo"
                            [(ngModel)]="Miembro['celular']" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !Miembro['celular']}" />
                      
                        <label htmlFor="celular" class="labelformcre">Celular</label>
                    </span>
                </div>

                
                
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <p-dropdown inputId="estado_civil" [autoDisplayFirst]="false" [options]="estadocivil"
                            [(ngModel)]="Miembro['estado_civil']" [appendTo]="'body'"></p-dropdown>
                        <label for="estado_civil" class="labelformcre">Estado civil</label>
                    </span>
                </div>


                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <p-calendar [(ngModel)]="Miembro['fecha_nacimiento']" [showIcon]="true" [appendTo]="'body'" ></p-calendar>
                        
                        <label htmlFor="fecha_nacimiento" class="labelformcre">Fecha nacimiento </label>
                    </span>
                </div>

                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <input input pInputText id="direccion" type="text" class="input-con-fondo"
                            [(ngModel)]="Miembro['direccion']" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !Miembro['direccion']}" />
                     
                        <label htmlFor="direccion" class="labelformcre">Dirección</label>
                    </span>
                </div>

                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <input input pInputText id="barrio" type="text" class="input-con-fondo"
                            [(ngModel)]="Miembro['barrio']" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !Miembro['barrio']}" />
                       
                        <label htmlFor="barrio" class="labelformcre">Barrio</label>
                    </span>
                </div>

                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <input input pInputText id="email" type="text" class="input-con-fondo"
                            [(ngModel)]="Miembro['email']" />
                        <label htmlFor="email" class="labelformcre">Email</label>
                    </span>
                </div>


                <div class="field col-12 md:col-6">
                    <label class="labelformcre">Género</label>
                    <div class="formgrid grid">
                        <div class="field-radiobutton col-8">
                            <p-radioButton id="sexoM" name="sexo" value="Masculino" [(ngModel)]="Miembro['sexo']"
                                required autofocus
                                [ngClass]="{'ng-invalid ng-dirty' : submitted && !Miembro['sexo']}"></p-radioButton>
                            <label for="sexoM" class="labelformcre">Masculino</label>
                            &nbsp;
                            <p-radioButton id="sexoF" name="sexo" value="Femenino" [(ngModel)]="Miembro['sexo']"
                                required autofocus
                                [ngClass]="{'ng-invalid ng-dirty' : submitted && !Miembro['sexo']}"></p-radioButton>
                            <label for="sexoF" class="labelformcre">Femenino</label>

                        </div>

                    </div>
                </div>

                <div class="field col-12 md:col-6">
                    <label class="labelformcre">Bautizado</label>
                    <div class="formgrid grid">
                        <div class="field-radiobutton col-8">
                            <p-radioButton id="Sí" name="bautizado" value="Sí"
                                [(ngModel)]="Miembro['bautizado']" required autofocus
                                [ngClass]="{'ng-invalid ng-dirty' : submitted && !Miembro['bautizado']}"></p-radioButton>
                            <label for="category1" class="labelformcre">Sí</label>
                            &nbsp;
                            <p-radioButton id="No" name="bautizado" value="No"
                                [(ngModel)]="Miembro['bautizado']" required autofocus
                                [ngClass]="{'ng-invalid ng-dirty' : submitted && !Miembro['bautizado']}"></p-radioButton>
                            <label for="category2" class="labelformcre">No</label>

                        </div>

                    </div>
                </div>


                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="tipomiembro"
                            [(ngModel)]="Miembro['tipo_miembro']" [appendTo]="'body'"></p-dropdown>
                        <label for="dropdown" class="labelformcre">Tipo miembro</label>
                    </span>
                </div>

                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <p-multiSelect inputId="ministerio" [options]="ministerio"
                            (onChange)="onMultiSelectChange($event)" [(ngModel)]="Miembro['ministerio']"
                            [selectedItemsLabel]="Miembro['ministerio']" optionLabel="label"
                            [filter]="false" [appendTo]="'body'"></p-multiSelect>
                        <label for="ministerio" class="labelformcre">Ministerio</label>
                    </span>
                </div>

                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <p-calendar [(ngModel)]="Miembro['fecha_membresia']" [showIcon]="true" [appendTo]="'body'"></p-calendar>
                       
                        <label htmlFor="fecha_membresia" class="labelformcre">Fecha membresía </label>
                    </span>
                </div>

                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="poblacion"
                            [(ngModel)]="Miembro['poblacion']" [appendTo]="'body'"></p-dropdown>
                        <label for="dropdown" class="labelformcre">Población</label>
                    </span>
                </div>

             

                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <p-dropdown inputId="ocupacion" [autoDisplayFirst]="false" [options]="ocupacion"
                            [(ngModel)]="Miembro['ocupacion']" [appendTo]="'body'"></p-dropdown>
                        <label for="ocupacion" class="labelformcre">Ocupación</label>
                    </span>
                </div>

                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <input input pInputText id="lider_contacto" type="text" class="input-con-fondo"
                            [(ngModel)]="Miembro['lider_contacto']" />
                        <label htmlFor="lider_contacto" class="labelformcre">Líder de contacto</label>
                    </span>
                </div>

                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <p-dropdown inputId="grupo_celular" [autoDisplayFirst]="false" [options]="grupo_celular"
                            [(ngModel)]="Miembro['grupo_celular']" [appendTo]="'body'"></p-dropdown>
                        <label for="grupo_celular" class="labelformcre">Grupo celular</label>
                    </span>
                </div>
                
                <div class="field col-12 md:col-6">
                    <label class="labelformcre">Estado</label>
                    <div class="formgrid grid">
                        <div class="field-radiobutton col-8">
                            <p-radioButton id="activo" name="estado" value="Activo" [(ngModel)]="Miembro['estado']"
                                required autofocus
                                [ngClass]="{'ng-invalid ng-dirty' : submitted && !Miembro['sexo']}"></p-radioButton>
                            <label for="activo" class="labelformcre">Activo</label>
                            &nbsp;
                            <p-radioButton id="retirado" name="estado" value="Retirado" [(ngModel)]="Miembro['estado']"
                                required autofocus
                                [ngClass]="{'ng-invalid ng-dirty' : submitted && !Miembro['estado']}"></p-radioButton>
                            <label for="retirado" class="labelformcre">Retirado</label>

                        </div>

                    </div>
                </div>

                         
            </div>

        </div>
    </div>

    <ng-template pTemplate="footer">
       
      

        <p-button label="Cancelar" icon="pi pi-check" (click)="hideDialog()"
        [style]="{width: '120px',
        background: '#677F8C'}"
        ></p-button>

         
        <p-button label="Aceptar" icon="pi pi-check" (click)="saveMiembro()"
        [style]="{width: '120px',
        background: '#677F8C'}"
        ></p-button>


    </ng-template>
</p-dialog>

<p-dialog [(visible)]="imageDialog"  header="CARGAR IMAGEN"   [modal]="true" class="p-fluid">

    
    <div class="grid">
        <div class="col-12">
            <div class="cardimg">
                <label class="imagen"> {{ Miembro['nombre'] }}  </label>
                
                <p-fileUpload name="miembro" url="https://www.primefaces.org/cdn/api/upload.php"
                    (onUpload)="onUpload($event)" accept="image/*" [maxFileSize]="99999999999">
                    <ng-template pTemplate="content">
                        <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                        </ul>
                    </ng-template>
                </p-fileUpload>

            </div>
        </div>
    </div>
</p-dialog>