<!-- Slider main container -->
<div class="swiper" >
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide"> <img src="/assets/img/principal0.jpg" class="d-block w-100" ></div>
      <div class="swiper-slide"> <img src="/assets/img/principal1.jpg" class="d-block w-100" ></div>
      <div class="swiper-slide"> <img src="/assets/img/principal2.jpg" class="d-block w-100" ></div>
      <div class="swiper-slide"> <img src="/assets/img/principal3.jpg" class="d-block w-100" ></div>
     
     
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <div (click)="onSlidePrev()" class="swiper-button-prev"></div>
    <div (click)="onSlideNext()" class="swiper-button-next"></div>
  
  </div>