$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

body {
    background: linear-gradient(to right,  #c8d8ea, #bfd4e0) !important;
}

h1,h2,h3,h4,h5 {
    font-weight: 200;
    color: white;
}

p {
    color: white;
}

hr{
    color: white;
}

.navbar-brand {
    font-weight: 200;
    color: #bd4c5f !important;
}

.btn-outline-success {
    border-color: #bd4c5f !important;;
    color: #bd4c5f !important;;
}

.btn-outline-success:hover {
    background-color: #272a36;
    color: white !important;
}

.block {
    display:block;
}

.p-menubar {
    background: linear-gradient(to right, #305a85, #01151f) !important;
    padding:10px 20px;
    font-size:10px;
    text-decoration:none;
    letter-spacing:1px;
    text-transform:uppercase;
}

.p-menuitem-text, .p-menuitem-icon, .p-submenu-icon {
    color:#b6bdc4 !important;
}

.p-menu-list:hover {
    background-color: #000 !important;
}


.puntero {
    cursor: pointer;
}

.img-circle {
    border-radius: 100%;
    width: 150px;
}

.card-title,
.card-text {
    color: black;
}

.badge {
    margin-left: 5px;
}

.btn-outline-success {
    margin-left: 5px;
}

.img-thumb {
    width: 50px;
    height: 50px;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}



.gridc {
    display: flex;
    flex-wrap: wrap;
    margin-right: 1.2rem;
    margin-left: 5rem;
    position: relative;
    z-index: 100;
    
    
  }
  
  .gridc > .col,
  .gridc > [class*=col] {
    box-sizing: border-box;
    padding: 0.5rem;
    flex: 0 0 100%;
    
  }

  @media (min-width: 768px) {
    .gridc > .col,
    .gridc > [class*=col] {
        flex: 0 0 calc(25% - 1rem);
        margin-left: 1rem;
         /* 3 columnas, ajusta el porcentaje según sea necesario */
    }
}
  
  .gridc-nogutter {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
  }
  
  .gridc-nogutter > .col,
  .gridc-nogutter > [class*=col-] {
    padding: 0;
  }

  
.gridcf {
  display: flex;
  flex-wrap: wrap;
  margin-right: 1.2rem;
  margin-left: 1.2rem;
  margin-top: 8rem;
 
 
  
}

.gridcf > .col,
.gridcf > [class*=col] {
  box-sizing: border-box;
  padding: 0.5rem;
  flex: 0 0 100%;
}

@media (min-width: 768px) {
  .gridcf > .col,
  .gridcf > [class*=col] {
      flex: 0 0 calc(25% - 1rem);
     
     
  }
}

.gridcf-nogutter {
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
}

.gridcf-nogutter > .col,
.gridcf-nogutter > [class*=col-] {
  padding: 0;
}


.p-toast {
    &.p-toast-top-right,
    &.p-toast-top-left,
    &.p-toast-top-center {
        top: 100px;
    }
}

/* Estilos generales del componente */
.panel-component {
    position: fixed;
    width: 900px;
    height: calc(100vh - 7rem);
    z-index: 1;
    overflow-y: auto;
    user-select: none;
    top: 5rem;
    left: 1rem;
    transition: transform $transitionDuration, left $transitionDuration;
    background-color: var(--surface-overlay);
    border-radius: $borderRadius;
    padding: 0.5rem 1.5rem;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .02), 0px 0px 2px rgba(0, 0, 0, .05), 0px 1px 4px rgba(0, 0, 0, .08);
    
    /* Estilos del panel */
    .panel {
        
       
      border: 1px solid #ccc;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px;
      background-color: #3f474f; /* Color de fondo del panel */
  
      /* Estilos de la tabla */
      table {
        width: 100%;
        border-collapse: collapse;
  
        th, td {
          padding: 10px;
          text-align: left;
          border-bottom: 1px solid #ddd;
        }
  
        th {
          background-color: #f2f2f2; /* Color de fondo de las celdas de encabezado */
        }
  
        tr:last-child td {
          border-bottom: none; /* Elimina el borde inferior de la última fila */
        }
      }
    }
  }

  .label {
    color: rgb(245, 240, 240);
    
        
  }
  
    .terciario {background: linear-gradient(to right, #ebeef3, #55656c, #f0f2f4); 
    color:#f0f4f7; 
    margin-left: -11px;
    margin-top: -6px;
    font-family: 'Roboto', sans-serif;
    padding: 8px;
    font-size: 16px;
    text-shadow: 2px 2px 4px #000000;
	  border-top-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    text-align: center;
    width:130px;
    top: 88px;
	
  }

  .terciarionombre {
    background: linear-gradient(to right, #052A3D, #55656c, #052A3D); 
    font-weight: bold;
    color:#777b41; 
    margin-left: -1px;
    margin-top: -6px;
    font-family: 'Roboto', sans-serif;
    padding: 2px;
    font-size: 12px;
    text-shadow: 2px 2px 4px #000000;
	  border-top-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    text-align: center;
    width:160px;
    top: 88px;
	
  }

  .terciariotitulo {background: linear-gradient(to right, #ebeef3, #55656c, #f0f2f4); 
    color:#f0f4f7; 
    margin-left: -1px;
    margin-top: -6px;
    font-family: 'Roboto', sans-serif;
    padding: 2px;
    font-size: 12px;
    text-shadow: 2px 2px 4px #000000;
	  border-top-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    text-align: center;
    width:200px;
    top: 88px;
	
  }

  .cardnombre {background: linear-gradient(to right, #5ea2c6, #575c60, #5ea2c6); 
    color:#f0f4f7; 
    margin-left: 1px;
    margin-top: -6px;
    font-family: 'Roboto', sans-serif;
    padding: 3px;
    font-size: 12px;
    text-shadow: 2px 2px 4px rgb(6, 6, 5);
    border-top-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    text-align: center;
    width:200px;
    top: 88px;
	
  }

  .acciones {background: linear-gradient(to right, #ebeef3, #55656c, #f0f2f4);
    color:#f0f4f7; 
    margin-left: -3px;
    margin-top: -2px;
    font-family: 'Roboto', sans-serif;
    padding: 8px;
    font-size: 16px;
    text-shadow: 2px 2px 4px #000000;
	  border-top-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    text-align: center;
    width: 100%;
    top: 88px;
	
  }
  
  /* Estilos para pantallas de tamaño pequeño (dispositivos móviles) */
  @media screen and (min-width: 1960px) {
    .panel-component, .panel {
        width: 1504px;
        margin-left: auto !important;
        margin-right: auto !important;
    }

}

.input-con-fondo {
    background-color: rgb(235, 243, 249); /* Puedes cambiar 'yellow' por cualquier color o valor de fondo que desees */
  }



  .imagen {background: linear-gradient(to right, #909da4, #a4b5c6, #909da4); 
    color:#f0f4f7; 
    margin-left: -3px;
    margin-top: -2px;
    font-family: 'Roboto', sans-serif;
    padding: 8px;
    font-size: 16px;
    text-shadow: 2px 2px 4px #000000;
	  border-top-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    text-align: center;
    width:338px;
    top: 88px;
	
  }

  /* app.component.css */
.card {
    
    perspective: 1000px;
    background:#052A3D;
    border: 1px solid ;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow:#305a85;
    border-radius: 8px;
    width: 300px;
    height: 550px;
    margin-top: 4rem;
    position: relative;
    z-index: 1;
       
  }

  @media (min-width: 768px) {
    .card {
      margin-top: 2rem;
    }
  }
  
  .cardform {
    
    border: 1px solid ;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow:  0 2px 1px -1px rgba(29, 38, 51, 0.2), 0 1px 1px 0 rgba(51, 87, 132, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    
    border-top-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;

    background:#052A3D;

    margin-left: -12px;

    &:last-child {
        margin-bottom: 0;
    }
}
  
  .custom-card-content {
    width: 200px;
    height: 320px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    margin-top: -0.9rem;
    
    
  }
  
  .front-content,
  .back-content {
   
    width: 50px;
    height: 500px;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-left: -5rem;
    backface-visibility: hidden;
   
  }
  
  .front-content {
    width: 300px;
    height: 400px;
    transform: rotateY(0deg); /* Muestra la cara frontal */
    padding: 1rem;
    margin-bottom: 1rem;
    margin-left: -2rem;
    position: absolute;
    
    
  }
  
  .back-content {
    transform: rotateY(180deg); /* Inicialmente oculta la cara trasera */
    padding: 1rem;
    
    position: absolute;
    width: 300px;
    height: 400px;
    
  }
  
  .flipped .custom-card-content {
    transform: rotateY(180deg);
  }
  
  .cardimg {
    
    perspective: 1000px;
    background:#c8d4e3;
    border: 1px solid ;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow:#305a85;
    border-radius: 8px;
    width: 365px;
    height: 330px;
    margin-left: -14px;
    
  }

  .labelform{ 
    color: rgb(96, 114, 119)  !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold;
}

.p-toolbar{ 
  background: rgba(109, 123, 134, 0.5) !important;
  margin-top: -48px; 
  position: fixed;
  z-index: 100;
  width: 100%;
}



  

  

  

  