$gutter: 1rem; //for primeflex grid system
$azulfondo: #292f33;
@import "assets/layout/styles/layout/layout.scss";

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

body {
    background: #a0b0b8 !important;
}



.navbar-brand {
    font-weight: 200;
    color: #d1dfed !important;
}

.btn-outline-success {
    border-color: #bd4c5f !important;;
    color: #bd4c5f !important;;
}

.btn-outline-success:hover {
    background-color: #585c74;
    color: rgb(152, 168, 175) !important;
}

.block {
    display:block;
}

.p-menubar {
    background: $azulfondo !important;
    padding:10px 20px;
    font-size:10px;
    text-decoration:none;
    letter-spacing:1px;
    text-transform:uppercase;
}

.p-menuitem-text, .p-menuitem-icon, .p-submenu-icon {
    color:#BFCDD9 !important;
}

.p-menu-list:hover {
    background-color: #0b0b0b !important;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}



.gridc {
    display: flex;
    flex-wrap: wrap;
    margin-right: 1.2rem;
    margin-left: 5rem;
    position: relative;
    z-index: 100;
    
    
  }
  
  .gridc > .col,
  .gridc > [class*=col] {
    box-sizing: border-box;
    padding: 0.5rem;
    flex: 0 0 100%;
    
  }

  @media (min-width: 768px) {
    .gridc > .col,
    .gridc > [class*=col] {
        flex: 0 0 calc(25% - 1rem);
        margin-left: 1rem;
         /* 3 columnas, ajusta el porcentaje según sea necesario */
    }
}
  
  .gridc-nogutter {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
  }
  
  .gridc-nogutter > .col,
  .gridc-nogutter > [class*=col-] {
    padding: 0;
  }

  
.gridcf {
  display: flex;
  flex-wrap: wrap;
  margin-right: 1.2rem;
  margin-left: 1.2rem;
  margin-top: 113px;
 
 
  
}

.gridcf > .col,
.gridcf > [class*=col] {
  box-sizing: border-box;
  padding: 0.5rem;
  flex: 0 0 100%;
}

@media (min-width: 768px) {
  .gridcf > .col,
  .gridcf > [class*=col] {
      flex: 0 0 calc(33% - 1rem);
     
     
  }
}

.gridcf-nogutter {
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
}

.gridcf-nogutter > .col,
.gridcf-nogutter > [class*=col-] {
  padding: 0;
}


.p-toast {
    &.p-toast-top-right,
    &.p-toast-top-left,
    &.p-toast-top-center {
        top: 100px;
    }
}

/* Estilos generales del componente */
.panel-component {
    position: fixed;
    width: 900px;
    height: calc(100vh - 7rem);
    z-index: 1;
    overflow-y: auto;
    user-select: none;
    top: 5rem;
    left: 1rem;
    transition: transform $transitionDuration, left $transitionDuration;
    background-color: var(--surface-overlay);
    border-radius: $borderRadius;
    padding: 0.5rem 1.5rem;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .02), 0px 0px 2px rgba(0, 0, 0, .05), 0px 1px 4px rgba(0, 0, 0, .08);
    
    /* Estilos del panel */
    .panel {
        
       
      border: 1px solid #ccc;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px;
      background-color: #3e95c1ea; /* Color de fondo del panel */
  
      /* Estilos de la tabla */
      table {
        width: 100%;
        border-collapse: collapse;
  
        th, td {
          padding: 10px;
          text-align: left;
          border-bottom: 1px solid #ddd;
        }
  
        th {
          background-color: #f2f2f2; /* Color de fondo de las celdas de encabezado */
        }
  
        tr:last-child td {
          border-bottom: none; /* Elimina el borde inferior de la última fila */
        }
      }
    }
  }

  .label {
    color: rgb(245, 240, 240);
    
        
  }
  
    .terciario {background:#677F8C; 
    color:#f0f4f7; 
    margin-left: -11px;
    margin-top: -6px;
    font-family: 'Roboto', sans-serif;
    padding: 8px;
    font-size: 16px;
    text-shadow: 2px 2px 4px #000000;
	  border-top-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    text-align: center;
    width:130px;
    top: 88px;
	
  }

  .terciariologin {background: linear-gradient(to right, #ebeef3, #55656c, #f0f2f4); 
    background: linear-gradient(to right, #052A3D, #55656c, #052A3D); 
    font-weight: bold;
    color:#777b41; 
    margin-left: 0px;
    margin-top: -6px;
    font-family: 'Roboto', sans-serif;
    padding: 8px;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    border-top-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
    text-align: center;
    width:400px;
    top: 88px;
	
  }

  .terciarionombre {
   
    font-weight: bold;
    color:#e2ebee; 
    margin-left: -1px;
    margin-top: -6px;
    font-family: 'Roboto', sans-serif;
    padding: 2px;
    font-size: 12px;
    text-shadow: 2px 2px 4px #000000;
	  border-top-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    text-align: center;
    width:160px;
    top: 88px;
	
  }

  .terciariotitulo {
    background:#292f33; 
    color:#f0f4f7; 
    margin-left: -4px;
    margin-top: -6px;
    font-family: 'Roboto', sans-serif;
    padding: 2px;
    font-size: 12px;
    text-shadow: 2px 2px 4px #000000;
	 
    text-align: center;
    width:375px;
    top: 88px;
	
  }

  @media (max-width: 768px) {
    .terciariotitulo {
      width:310px;
     
     
    }
  }


  .terciariotools {
    
    color:#f0f4f7; 
    margin-left: -910px;
    margin-top: -6px;
    font-family: 'Roboto', sans-serif;
    padding: 2px;
    font-size: 12px;
    text-shadow: 2px 2px 4px #000000;
	 
   
    width:450px;
    top: 88px;
	
  }

  .cardnombre {background: linear-gradient(to right, #5ea2c6, #575c60, #5ea2c6); 
    color:#f0f4f7; 
    margin-left: 1px;
    margin-top: -6px;
    font-family: 'Roboto', sans-serif;
    padding: 3px;
    font-size: 12px;
    text-shadow: 2px 2px 4px rgb(6, 6, 5);
    border-top-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    text-align: center;
    width:200px;
    top: 88px;
	
  }

  .carddata {
    background:#64717d;
    color:#f0f4f7; 
    margin-left: 1px;
    margin-top: 141px;
    font-family: 'Roboto', sans-serif;
    padding: 2px;
    font-size: 12px;
   
    border-top-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    text-align: center;
    width:1200px;
    height: 672px;
    top: 30px;
	
  }

  .acciones {background:#677F8C;
    color:#f0f4f7; 
    margin-left: -3px;
    margin-top: -2px;
    font-family: 'Roboto', sans-serif;
    padding: 8px;
    font-size: 16px;
    text-shadow: 2px 2px 4px #000000;
	  border-top-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    text-align: center;
    width: 100%;
    top: 88px;
	
  }
  
  /* Estilos para pantallas de tamaño pequeño (dispositivos móviles) */
  @media screen and (min-width: 1960px) {
    .panel-component, .panel {
        width: 1504px;
        margin-left: auto !important;
        margin-right: auto !important;
    }

}

.input-con-fondo {
    background-color: rgb(235, 243, 249); /* Puedes cambiar 'yellow' por cualquier color o valor de fondo que desees */
  }



  .imagen {background: linear-gradient(to right, #909da4, #a4b5c6, #909da4); 
    color:#f0f4f7; 
    margin-left: -3px;
    margin-top: -2px;
    font-family: 'Roboto', sans-serif;
    padding: 8px;
    font-size: 16px;
    text-shadow: 2px 2px 4px #000000;
	  border-top-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    text-align: center;
    width:338px;
    top: 88px;
	
  }

  /* app.component.css */


  @media (min-width: 768px) {
    .p-card {
      margin-top: 85px;
    }
  }

  .p-card {
    margin-top: 25px;
    background: linear-gradient(to right, #052A3D, #55656c, #052A3D) !important;
  }
  
  .cardform {
    
    border: 1px solid ;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow:  0 2px 1px -1px rgba(29, 38, 51, 0.2), 0 1px 1px 0 rgba(51, 87, 132, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    
    border-top-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;

    background:#ecf0f4;

    margin-left: -12px;

    &:last-child {
        margin-bottom: 0;
    }
}
  
  .custom-card-content {
    width: 360px;
    height: 450px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    margin-top: -25px;
        
    
  }
  
  .front-content,
  .back-content {
   
    width: 50px;
    height: 500px;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-left: -5rem;
    backface-visibility: hidden;
   
  }
  
  .front-content {
    width: 460px;
    height: 400px;
    transform: rotateY(0deg); /* Muestra la cara frontal */
    padding: 1rem;
    margin-bottom: 1rem;
    margin-left: -2rem;
    position: absolute;
    
    
  }
  
  .back-content {
    transform: rotateY(180deg); /* Inicialmente oculta la cara trasera */
    padding: 1rem;
    
    position: absolute;
    width: 458px;
    height: 400px;
    
  }
  
  .flipped .custom-card-content {
    transform: rotateY(180deg);
  }
  
  .cardimg {
    
    perspective: 1000px;
    background:#c8d4e3;
    border: 1px solid ;
    padding: 1rem;
    margin-bottom: 1rem;
    
    box-shadow:#305a85;
    border-radius: 8px;
    width: 365px;
    height: 330px;
    margin-left: -14px;
    
  }

  .labelform{ 
    color: #c4e7f3 !important;
    font-family: 'Roboto', sans-serif !important;
    
    font-size: 13px;
    
   
}

.labelformcre{ 
  color: #292f33 !important;
  font-family: 'Roboto', sans-serif !important;
  
  font-size: 13px;
 
}

.p-toolbar{ 
  background: rgba(191, 205, 217, 0.5) !important;
  margin-top: -50px; 
  position: fixed;
  z-index: 100;
  width: 100%;
}

.botton {
  background-color: #8796a594;   
  border: none;
  color: #eaf1f7;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 400px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.botton:hover {

  background-color: #8796a5;
}

.tdtitulo {
  background-color: #717b89;
  color:#f0f4f7;
  font-family: 'Roboto', sans-serif !important;
  font-size: 13px;
  border-top-right-radius: 5px 5px;
  border-top-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
}

.botonacciones {

background: #201E2B;
width: 30px;
height: 30px;

}


.p-dialog { 
		width: 550px !important; 
  
} 

@media (max-width: 768px) {
  .p-dialog { 
		width: 400px !important; 
  
} 
}

.p-dialog-title { 
  color: #f0f4f7 !important; 
  margin-left: 8rem;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
 
  
} 
	
.p-dialog-draggable .p-dialog-header { 
  background-color:$azulfondo !important;
} 

button.p-ripple.p-element.p-dialog-header-icon.p-dialog-header-close { 
  color: #b2bdc5 !important; 
}

.p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover { 
  background: rgb(156, 175, 192) !important; 
  color: rgb(16, 68, 180) !important; 
} 

.p-dialog .p-dialog-content { 
  background: #ecf0f4 !important; 
  color: rgb(187, 201, 213)  !important; 
  
} 

.p-dialog .p-dialog-footer { 
  background: #ecf0f4 !important; 
} 


.responsive-table {

  
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto; /* Centra la tabla si es necesario y elimina márgenes externos */
  box-sizing: border-box; /* Asegura que el ancho del contenedor también considere el padding y border */
}

.table-cell {
  flex: 0 0 50%; /* 100% / 8 columns = 12.5% for desktop */
  box-sizing: border-box; /* Incluye padding y border dentro del ancho del elemento */
  border: 1px solid #8d979e;
  text-align: center;
  padding: 10px;
  margin: 0; /* Elimina margen exterior para evitar desbordamiento */
  background-color: #dee6ed;
}

@media (max-width: 768px) {
  .table-cell {
    flex: 0 0 100%; /* 100% / 2 columns = 50% for mobile */
    padding: 5px; /* Ajusta el padding si es necesario para asegurar que no haya desbordamiento */
   
  }
}
