<app-navbar></app-navbar>
<div class="gridc">
    
    <div class="col-12 lg:col-6 xl:col-3">
        <p-card header="Usuarios" subheader="Administrar usuarios del sistema" [style]="{ width: '250px' }">
            <ng-template pTemplate="header">
                <img alt="Card" [ngStyle]="{width: '13rem', height: '7rem'}" src="assets/img/users.png" />
            </ng-template>
        
        </p-card>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '250px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
            </ng-template>
        
        </p-card>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '250px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
            </ng-template>
        
        </p-card>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '250px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
            </ng-template>
        
        </p-card>
    </div>

</div>
