<app-navbar></app-navbar>
<div class="gridc" [style]="{'margin-top': '90px'}">
    
    <div class="col-12 lg:col-6 xl:col-3">
        <p-card header="Membresía" subheader="Administrar usuarios del sistema" [style]="{ width: '250px', height: '270px' }">
            <ng-template pTemplate="header">
                <a  [routerLink] = "['/miembros']">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img alt="Card" [ngStyle]="{width: '13rem', height: '13rem'}" src="assets/img/users.png" />
            </a>
            </ng-template>
        
        </p-card>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <p-card header="Configuración" subheader="Administrar usuarios del sistema" [style]="{ width: '250px', height: '270px' }">
            <ng-template pTemplate="header">
                <a  [routerLink] = "['/usuarios']">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img alt="Card" [ngStyle]="{width: '13rem', height: '13rem'}" src="assets/img/config.png" />
            </a>
            </ng-template>
        
        </p-card>
    </div>


    <div class="col-12 lg:col-6 xl:col-3">
        <p-card header="Eventos" subheader="Administrar usuarios del sistema" [style]="{ width: '250px', height: '270px' }">
            <ng-template pTemplate="header">
                <a  [routerLink] = "['/usuarios']">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img alt="Card" [ngStyle]="{width: '13rem', height: '13rem'}" src="assets/img/events.png" />
            </a>
            </ng-template>
        
        </p-card>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <p-card header="Finanzas" subheader="Administrar usuarios del sistema" [style]="{ width: '250px', height: '270px' }">
            <ng-template pTemplate="header">
                <a  [routerLink] = "['/usuarios']">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img alt="Card" [ngStyle]="{width: '13rem', height: '13rem'}" src="assets/img/finances.png" />
            </a>
            </ng-template>
        
        </p-card>
    </div>

</div>
