<app-navbar></app-navbar>
<div class="gridc" [style]="{'margin-top': '90px'}">
    
    <div class="col-12 lg:col-6 xl:col-3">
        <p-card header="Membresía"  [style]="{ width: '190px', height: '190px', background: '#BFCDD9', color: '#292f33' }">
            <ng-template pTemplate="header">
                <a  [routerLink] = "['/miembros']">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img alt="Card" [ngStyle]="{width: '10rem', height: '10rem'}" src="assets/img/users.png" />
            </a>
            </ng-template>

           
        
        </p-card>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <p-card header="Usuarios"  [style]="{ width: '190px', height: '190px', background: '#BFCDD9', color: '#292f33' }">
            <ng-template pTemplate="header">
                <a  [routerLink] = "['/usuarios']">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img alt="Card" [ngStyle]="{width: '10rem', height: '10rem'}" src="assets/img/config.png" />
            </a>
            </ng-template>
        
        </p-card>
    </div>


    <div class="col-12 lg:col-6 xl:col-3">
        <p-card header="Eventos"  [style]="{ width: '190px', height: '190px', background: '#BFCDD9', color: '#292f33' }">
            <ng-template pTemplate="header">
                <a  [routerLink] = "['/usuarios']">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img alt="Card" [ngStyle]="{width: '10rem', height: '10rem'}" src="assets/img/events.png" />
            </a>
            </ng-template>
        
        </p-card>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <p-card header="Aportes"  [style]="{ width: '190px', height: '190px', background: '#BFCDD9', color: '#292f33' }">
            <ng-template pTemplate="header">
                <a  [routerLink] = "['/aportes']">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img alt="Card" [ngStyle]="{width: '10rem', height: '10rem'}" src="assets/img/finances.png" />
            </a>
            </ng-template>
        
        </p-card>
    </div>

    

</div>
